.windowsMessage{
    height: 80vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
.ballonMessage{
    padding: 10px;
    margin: 4px;
}
.leftBallon{
    background-color: antiquewhite;
    color: blue;
    align-self: flex-start;
    border-radius: 0px 20px 20px 20px;
}
.rightBallon{
    background-color: blue;
    color: white;
    align-self: flex-end;
    border-radius: 20px 0px 20px 20px;
}